<section class="new-post-section">
  <section class="new-post-container">
    <h1>Add a new post</h1>
    <%= form_with model:[current_user, current_user.posts.build] do |form|%>
      <% @post.errors.full_messages do |msg|%>
        <p><%= msg %></p>
        <% end %>
      <%= form.label :title%>
      <%= form.text_field  :title%><br>
      <div class="text-container">
        <%= form.label :text%>
        <%= form.text_area :text, cols:40, row:1%>
      </div>
      <%=form.submit "Submit", class:"new-post-btn submit-btn"%>
    <% end%>
  </section>
</section>